head {
     justify-content: flex-start;
}
nav {
    height: 70px;
    flex-direction: row;
    width: 900;
    color: #004;
}
body {
    margin: 0:
    padding: 0;
    background-color: rosybrown;
    justify-content: center;
        
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
         }
    
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-box {display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

}